.hiddenInput {
    display: none;
}

.dialogMessageSpan {
    color: red !important;
}

.hiddenDialogCloseIcon {
    display: none;
}

fieldset {
	border: 1px solid #C0C0C0;
}

fieldset legend {
	font-weight: bold;
	font-size: 18px;
	color: #6E6E6E;
}

.gridx { 
    height: 338px;
    width: 98%;
}

.messageSpanSuccess {
	color: green !important;
}

.messageSpanFailure {
	color: red !important;
}

.confirmDialogMessage {
    font-weight: normal;
	font-size: 16px;
}

.informationDialogMessage {
    font-weight: normal;
	font-size: 16px;
}

.printPageTableBorder {
	border: 1px solid black;
	border-style: ridge;	
}

.claro .gridxRowSelected>.gridxRowTable, .claro .gridxRowSelected>.gridxRowTable .gridxCell, .claro .gridxRow .gridxColumnSelected, .claro .gridxRow .gridxCellSelected {
    background-color: #FFFF66 !important;
}

.printPageSpan { 
	font-family: arial-body;
	font-size: 15px; 
	font-style: n	ormal;
}

.printPageSpanSmall { 
	font-family: arial-body;
	font-size: 13px;
	font-style: normal;
}

.containerDiv {
    width: 90%;
    padding: 20px;
    border: 1px solid;
    margin: 15px;
}

.demandLetterTable {
   border:2px solid black;
   border-collapse:collapse;
   width: 70%; 
   margin: 0 auto;
}

.demandLetterTableColLabel {
	border:1px solid black;
	text-align: left;
	padding-left: 1cm;
}

.demandLetterTableCol {
	border:1px solid black;
	text-align: center;
}